# LocalScope admin credentials
LOCALSCOPE_ADMIN_USER=your_admin_username
LOCALSCOPE_ADMIN_PASSWORD=your_admin_password

# Fernet key used to encrypt stored account cookies
LOCALSCOPE_ENCRYPTION_KEY=your_generated_fernet_key

# for fernet key
# python -c "from cryptography.fernet import Fernet; print(Fernet.generate_key().decode())"